{% extends "open_targets/base.jinja" %}
{% block content %}
# ruff: noqa: D101
# type: ignore[generalTypeIssues]

from collections.abc import Sequence
from typing import Final

from open_targets.data.metadata.model import OpenTargetsDatasetFieldType
from open_targets.data.schema_base import Dataset, Field, ScalarField, SequenceField, StructField

{% for class_info in class_infos %}
class {{ class_info.name }}({{ class_info.inherit_from }}):
{% for attr in class_info.late_attributes %}
    {{ attr.name }}: {{ attr.type }}
{% endfor %}


{% endfor %}
{% for class_info in class_infos %}
{% for attr in class_info.late_attributes %}
{{ class_info.name }}.{{ attr.name }} = {{ attr.value }}
{% endfor %}


{% endfor %}
{% endblock %}
